1                              {#- Cluster Install Type (1 - single  2 - multi) #}{{"\n"-}}
{{ cluster_name }}             {#- Name of System #}{{"\n"-}}
1                              {#- Storage Type (1 - internal 2 - external) #}{{"\n"-}}
1                              {#- DB Root IDs #}{{"\n"-}}
n                              {#- Enable SNMP #}{{"\n"-}}

