---
# Default user and install location for infinidb
infinidb_user: root
infinidb_group: root
infinidb_install_directories: 
  - directory: /usr/local
infinidb_install_directory: /usr/local
infinidb_home_directory: /root
